@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  font-family: "Oswald";
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header h2 {
  font-size: 2.5em;
  font-weight: 700;
}
header nav {
  width: 40%;
}
header a {
  text-decoration: none;
  font-size: 1.25em;
  color: #585858;
  font-weight: 500;
}
header button {
  border: 2px solid;
  height: 4.75rem;
  width: 9.75rem;
  font-size: 1.7em;
  font-weight: 500;
}

.container {
  height: 70vh; /* Define a altura da section como 100% da altura da tela */
  font-family: "Oswald";
  background-image: url("./imagens/background.png");
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-size: cover; /* Ajusta a imagem para cobrir todo o contêiner */
  padding-left: 8rem;
  color: white; /* Altera a cor do texto para branco, para contraste com a imagem */
  display: flex; /* Usado para centralizar o conteúdo */
  justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
  align-items: start; /* Alinha o conteúdo verticalmente no centro */
  flex-direction: column;
}
.container h1 {
  font-weight: 700;
  font-size: 96px;
}
.container p {
  font-size: 32px;
  font-weight: 300;
  text-align: left;
}

button {
  font-family: "Oswald";
  font-weight: 900;
}

/* Estilizando o botão */
.link-button {
  background-color: blue; /* Cor de fundo */
  width: 12em;
  color: white; /* Cor do texto */
  border: none; /* Remove a borda */
  padding: 15px 20px; /* Espaciamento interno */
  margin: 15px;
  text-align: center; /* Centraliza o texto */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: 700;
  cursor: pointer; /* Muda o cursor para pointer */
  transition: background-color 0.3s ease; /* Animação suave para cor de fundo */
}

/* Estilo ao passar o mouse (hover) */
.link-button:hover {
  background-color: rgb(35, 35, 230); /* Cor de fundo mais escura */
}

/* Estilo da imagem de fundo */
.containerGestao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15vh 0;
  height: 100vh;
}
.containerGestao img {
  width: 40vw;
}

.gestaoPortuaria {
  width: 40%;
  height: 550px;
  margin: 140px;
  font-family: "Roboto";
}
.gestaoPortuaria p {
  font-size: 24px;
  font-weight: 500;
  margin: 36px 0;
}
.gestaoPortuaria h2 {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0;
}
.gestaoPortuaria strong {
  color: #0017e9;
  font-size: 1.5rem;
  font-family: "Oswald";
  font-weight: 500;
}
.gestaoPortuaria .link-contato {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  color: #0017e9;
  text-decoration: none;
}

.containerSoluçoes {
  display: flex;
  height: 100vh;
  background-color: #d8d8d8;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-evenly;
}
.containerSoluçoes h2 {
  margin-top: 2vh;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald";
  color: #0017e9;
}
.containerSoluçoes p {
  margin-bottom: 10vh;
  font-size: 24px;
  font-weight: 500;
  font-family: "oswald";
}

.imagens-soluçoes {
  margin-bottom: 10vh;
  display: flex;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: none;
}
.imagens-soluçoes article {
  background-color: white;
  height: 52vh;
  width: 22vw;
  text-align: start;
  box-shadow: 0px 0px 10px 0px #000000;
}
.imagens-soluçoes article h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 1.5rem;
}
.imagens-soluçoes article p {
  margin-top: 3rem;
  margin: 0 1rem;
  font-family: "Oswald";
  font-weight: 200;
  font-size: 1.5rem;
}
.imagens-soluçoes article img {
  width: 100%;
}

.contatoSection {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.contatoSection .atendimentocomercial {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.contatoSection .atendimentocomercial .galeriafigure {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}
.contatoSection .atendimentocomercial figure {
  margin-left: 2rem;
}
.contatoSection .atendimentocomercial figure figcaption {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 1.5rem;
}
.contatoSection .atendimentocomercial h2 {
  margin-left: 2rem;
  margin-bottom: 3.5rem;
  color: #0017e9;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 2rem;
}
.contatoSection .atendimentocomercial h3 {
  margin-left: 2rem;
  margin-bottom: 4rem;
  color: #000000;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 1.5rem;
}
.contatoSection .contatoArticle {
  width: 30vw;
}
.contatoSection .contatoArticle h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  color: #0017e9;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 2rem;
}
.contatoSection .contatoArticle h3 {
  margin-bottom: 1rem;
  color: #000000;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 1.5rem;
}
.contatoSection .contatoArticle form {
  display: flex;
  flex-direction: column;
}
.contatoSection .contatoArticle form label {
  margin-top: 1.5rem;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 1.5rem;
}
.contatoSection .contatoArticle form input {
  height: 5.5vh;
  width: 23vw;
}
.contatoSection .contatoArticle form textarea {
  height: 12vh;
  width: 23vw;
}
.contatoSection .contatoArticle form button {
  margin-top: 3.75rem;
  background-color: #0017e9;
  color: #ffffff;
  width: 23vw;
  height: 6.5vh;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 1.5rem;
}

footer {
  height: 7vh;
  display: flex;
  justify-content: center;
  background-color: #d8d8d8;
  align-items: center;
}
footer p {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  header ul {
    display: flex;
    flex-direction: row; /* Organiza a lista na horizontal */
    justify-content: space-between;
    width: 100%; /* Ocupa toda a largura */
    padding: 0 1rem;
  }
  header h2 {
    font-size: 2em;
    text-align: center;
  }
  header nav {
    width: 100%;
    text-align: center;
  }
  header button {
    height: 3.5rem;
    width: 8rem;
    font-size: 1.2em;
    margin: 1rem auto;
  }
  .container {
    padding: 2rem;
    text-align: justify;
  }
  .container h1 {
    font-size: 2rem;
  }
  .container p {
    font-size: 1rem;
  }
  .containerGestao {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 8px;
  }
  .containerGestao img {
    width: 90%;
  }
  .containerGestao .gestaoPortuaria {
    width: 90%;
    margin: 2rem 0;
  }
  .containerGestao .gestaoPortuaria p {
    font-size: 1em;
  }
  .containerGestao .gestaoPortuaria h2 {
    text-align: justify;
  }
  .containerSoluçoes {
    height: auto;
    padding: 2rem;
    text-align: justify;
  }
  .containerSoluçoes .imagens-soluçoes {
    flex-direction: column;
    align-items: center;
  }
  .containerSoluçoes .imagens-soluçoes article {
    width: 90%;
    margin-bottom: 2rem;
    height: auto;
  }
  .containerSoluçoes .imagens-soluçoes article h3 {
    font-size: 1.2rem;
  }
  .containerSoluçoes .imagens-soluçoes article p {
    font-size: 1rem;
    word-wrap: break-word;
    text-align: justify;
  }
  .containerSoluçoes .imagens-soluçoes article img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajusta a altura máxima para evitar caixas muito grandes */
  }
  .contatoSection {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }
  .contatoSection .atendimentocomercial,
  .contatoSection .contatoArticle {
    width: 100%;
    margin-bottom: 2rem;
  }
  .contatoSection .atendimentocomercial h2,
  .contatoSection .atendimentocomercial h3,
  .contatoSection .contatoArticle h2,
  .contatoSection .contatoArticle h3 {
    text-align: center;
  }
  .contatoSection form {
    width: 100%; /* Ajusta o formulário para ocupar 90% da largura */
  }
  .contatoSection form input,
  .contatoSection form textarea {
    width: 100%; /* Ajusta os campos do formulário */
    margin-bottom: 1rem;
  }
  .contatoSection form textarea {
    resize: none;
  }
  .contatoSection form button {
    width: 90%; /* Botão ocupa 90% da largura */
    background-color: #0017e9;
    color: #ffffff;
    font-weight: bold;
  }
  footer {
    text-align: center;
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */